In [38]:
import numpy as np
import pandas as pd

In [39]:
df=pd.read_csv("main.csv")

In [40]:
df

,crop,Estimated_Insects_Count,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,N,P,K,temperature,humidity,ph,rainfall,label,Crop_Damage
0,0,731,0,1,0,0,0,2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0
1,0,731,0,1,0,0,0,2,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0
2,0,731,0,1,0,0,0,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0
3,0,731,0,1,0,0,0,2,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,0
4,0,731,0,1,0,0,0,2,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,677,1,3,30,25,0,3,113,38,20,22.107190,78.583201,6.364730,74.941366,cotton,0
19996,1,677,1,3,30,25,0,3,102,53,21,23.038140,76.110215,6.913679,91.496975,cotton,0
19997,1,677,1,3,30,25,0,3,110,39,18,24.547953,75.397527,7.766260,63.880799,cotton,0
19998,1,677,1,3,30,25,0,3,107,58,15,23.738680,75.775038,7.556064,76.636692,cotton,0
19999,1,677,1,3,30,25,0,3,120,60,15,22.318719,83.861300,7.288377,65.357470,cotton,0

In [41]:
df.shape

(20000, 17)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   crop                     20000 non-null  int64
 1   Estimated_Insects_Count  20000 non-null  int64
 2   Soil_Type                20000 non-null  int64
 3   Pesticide_Use_Category   20000 non-null  int64
 4   Number_Doses_Week        20000 non-null  int64
 5   Number_Weeks_Used        20000 non-null  int64
 6   Number_Weeks_Quit        20000 non-null  int64
 7   Season                   20000 non-null  int64
 8   N                        20000 non-null  int64
 9   P                        20000 non-null  int64
 10  K                        20000 non-null  int64
 11  temperature              20000 non-null  float64
 12  humidity                 20000 non-null  float64
 13  ph                       20000 non-null  float64
 14  rainfall                 20000 non-null  float64
 15  label                    20000 non-null  object
 16  Crop_Damage              20000 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.6+ MB

In [43]:
df.drop(['label'],axis=1,inplace=True)

In [44]:
l=[]
for _ in range(len(df)):
    l.append(np.random.randint(80, 100))

In [45]:
df['Crop_Damage']=l

In [46]:
df

,crop,Estimated_Insects_Count,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,N,P,K,temperature,humidity,ph,rainfall,Crop_Damage
0,0,731,0,1,0,0,0,2,90,42,43,20.879744,82.002744,6.502985,202.935536,83
1,0,731,0,1,0,0,0,2,85,58,41,21.770462,80.319644,7.038096,226.655537,99
2,0,731,0,1,0,0,0,2,60,55,44,23.004459,82.320763,7.840207,263.964248,82
3,0,731,0,1,0,0,0,2,74,35,40,26.491096,80.158363,6.980401,242.864034,93
4,0,731,0,1,0,0,0,2,78,42,42,20.130175,81.604873,7.628473,262.717340,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,677,1,3,30,25,0,3,113,38,20,22.107190,78.583201,6.364730,74.941366,88
19996,1,677,1,3,30,25,0,3,102,53,21,23.038140,76.110215,6.913679,91.496975,84
19997,1,677,1,3,30,25,0,3,110,39,18,24.547953,75.397527,7.766260,63.880799,86
19998,1,677,1,3,30,25,0,3,107,58,15,23.738680,75.775038,7.556064,76.636692,94
19999,1,677,1,3,30,25,0,3,120,60,15,22.318719,83.861300,7.288377,65.357470,99

In [47]:
main_df=pd.DataFrame(columns=[x for x in df.columns])

In [48]:
main_df

Empty DataFrame
Columns: [crop, Estimated_Insects_Count, Soil_Type, Pesticide_Use_Category, Number_Doses_Week, Number_Weeks_Used, Number_Weeks_Quit, Season, N, P, K, temperature, humidity, ph, rainfall, Crop_Damage]
Index: []

In [49]:
l=[]
for _ in range(len(df)):
    l.append(np.random.randint(0, 2))

In [50]:
main_df.crop=l

In [51]:
def create(k):
    l=[]
    a=min(k)
    b=max(k) if max(k)>0 else 1
    print(a,b)
    for _ in range(len(df)):
#         l.append(np.random.randint(int(min(k)*2//3), int(max(k)*2//3)))
        l.append(np.random.randint(a,b+1))

    return l

In [52]:
for i in df:
    l=create(df[i])
    main_df[i]=l

0 1
150 4096

0 1
1 3
0 80
0 44
0 1
1 3
60 140
35 60
15 45
20.0454142 26.92995077
75.00539324 84.96907151
5.005306977 7.994679507
60.65381719 298.5601175
80 99

In [53]:
main_df

,crop,Estimated_Insects_Count,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,N,P,K,temperature,humidity,ph,rainfall,Crop_Damage
0,0,604,1,1,3,10,0,2,95,43,34,20,82,7,144,86
1,0,444,0,1,40,31,0,3,116,57,18,21,81,5,112,93
2,1,2595,0,1,15,35,1,3,107,36,45,21,76,5,283,88
3,1,523,1,1,28,43,0,1,92,40,28,25,77,6,65,91
4,0,2854,1,1,50,24,1,3,91,48,27,25,84,5,252,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,3124,0,3,37,8,1,2,78,49,34,26,80,6,202,97
19996,1,2621,0,1,6,21,0,2,79,55,22,26,84,7,199,83
19997,0,3714,0,3,33,19,1,1,103,36,44,22,75,7,142,97
19998,1,3314,0,3,35,41,0,2,106,53,16,25,83,7,284,87
19999,1,1551,0,1,41,3,0,2,109,45,21,23,83,6,187,92

In [54]:
main_df=main_df.drop(['Estimated_Insects_Count','Number_Doses_Week','Number_Weeks_Used','Number_Weeks_Quit','N','P','K','temperature','humidity','ph'],axis=1)

In [55]:
df=main_df

In [56]:
df.apply(lambda x:create(x))

0 1
0 1
1 3
1 3
60 298
80 99

       crop  Soil_Type  Pesticide_Use_Category  Season  rainfall  Crop_Damage
0         0          1                       2       3       194           97
1         0          1                       1       3       271           94
2         0          0                       1       2       255           91
3         0          1                       1       2       199           91
4         0          0                       1       1       254           95
...     ...        ...                     ...     ...       ...          ...
19995     0          0                       1       2       210           90
19996     1          1                       2       3       113           87
19997     1          1                       1       2       277           99
19998     0          0                       2       1       193           83
19999     0          1                       1       3       184           90

[20000 rows x 6 columns]

In [57]:
num_samples=20000
l=np.random.choice(['Amidosulfuron','Lamba-Cyhalothrin','Chlormequat'], size=num_samples)
df['Pesticide_Use_Category']=l
df.to_csv('small.csv')

In [58]:
# num_samples=10000
# data = {
#     'Crop': np.random.choice([0, 1], size=num_samples),
#     'Soil_Type': np.random.choice([0, 1], size=num_samples),
#     'Pesticide_Use_Category': np.random.choice([1,2,3], size=num_samples),
#     'Season': np.random.choice([1, 2, 3], size=num_samples),
#     'Rainfall': np.random.randint(50, 300, size=num_samples),
#     'Crop_Damage': np.random.randint(70, 99, size=num_samples)
# }

# Create DataFrame
df = pd.read_csv('small.csv')

In [59]:
df=df.drop('Unnamed: 0',axis=1)

In [60]:
# l=[]
# for i in df['Pesticide_Use_Category']:
#         l.append(chr(ord('a')+i-1))

In [61]:
# df['Pesticide_Use_Category']=l
# df

In [62]:
df1=pd.get_dummies(df['Pesticide_Use_Category'])
df1

       Amidosulfuron  Chlormequat  Lamba-Cyhalothrin
0                  0            0                  1
1                  0            1                  0
2                  0            0                  1
3                  0            1                  0
4                  0            0                  1
...              ...          ...                ...
19995              0            0                  1
19996              0            0                  1
19997              0            1                  0
19998              0            0                  1
19999              0            1                  0

[20000 rows x 3 columns]

In [63]:
df=pd.concat([df,df1],axis=1)

In [64]:
df

,crop,Soil_Type,Pesticide_Use_Category,Season,rainfall,Crop_Damage,Amidosulfuron,Chlormequat,Lamba-Cyhalothrin
0,0,1,Lamba-Cyhalothrin,2,144,86,0,0,1
1,0,0,Chlormequat,3,112,93,0,1,0
2,1,0,Lamba-Cyhalothrin,3,283,88,0,0,1
3,1,1,Chlormequat,1,65,91,0,1,0
4,0,1,Lamba-Cyhalothrin,3,252,90,0,0,1
...,...,...,...,...,...,...,...,...,...
19995,0,0,Lamba-Cyhalothrin,2,202,97,0,0,1
19996,1,0,Lamba-Cyhalothrin,2,199,83,0,0,1
19997,0,0,Chlormequat,1,142,97,0,1,0
19998,1,0,Lamba-Cyhalothrin,2,284,87,0,0,1
19999,1,0,Chlormequat,2,187,92,0,1,0

In [65]:
df.drop(['Pesticide_Use_Category'],axis=1,inplace=True)

In [66]:
# from sklearn.preprocessing import StandardScaler
# scaler=StandardScaler()

In [67]:
# from sklearn.preprocessing import StandardScaler

# # Assuming df is your DataFrame
# scaler = StandardScaler()

# for i in df.columns:
#     # Fit the scaler on the column
#     scaler.fit(df[[i]])
    
#     # Transform the column and assign it back to the DataFrame
#     df[[i]] = scaler.transform(df[[i]])

In [68]:
x_in=df.drop(['Crop_Damage'],axis=1)
y_in=df[['Crop_Damage']]

In [69]:
from sklearn.model_selection import train_test_split
X,x,Y,y=train_test_split(x_in,y_in,test_size=0.2)

In [70]:
df.head(5)

,crop,Soil_Type,Season,rainfall,Crop_Damage,Amidosulfuron,Chlormequat,Lamba-Cyhalothrin
0,0,1,2,144,86,0,0,1
1,0,0,3,112,93,0,1,0
2,1,0,3,283,88,0,0,1
3,1,1,1,65,91,0,1,0
4,0,1,3,252,90,0,0,1

In [71]:
from sklearn.linear_model import LinearRegression
LinReg=LinearRegression()
LinReg.fit(X,Y)

LinearRegression()

In [72]:
LinReg.predict([[1,0,2,111,0,0,1]])

/home/kali/.local/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[89.47756215]])

In [73]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)

cross_val_score(LinearRegression(),x_in,y_in,cv=cv)

array([ 3.75591678e-05,  3.19352278e-04, -1.22973021e-04, -6.45665688e-04,
       -1.09860824e-04])

In [74]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(x,y):
    algos={
        'linear_regression':{
            'model': LinearRegression(),
            'params':{
#                 'normalize':[True,False]
            }
        },
        'lasso':
        {
            'model': Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random','cyclic']
            }
        },
        'decision_tree':
        {
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['squared_error','friedman_mse'],
                'splitter':['best','random']
            }
        }
    }
    
    scores=[]
    cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
    for algo_name,config in algos.items():
        gs=GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(x,y)
        scores.append({
            'model':algo_name,
            'best_score':gs.best_score_,
            'best_params':gs.best_params_
        })
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [75]:
# find_best_model_using_gridsearchcv(x_in,y_in)

In [76]:
df

,crop,Soil_Type,Season,rainfall,Crop_Damage,Amidosulfuron,Chlormequat,Lamba-Cyhalothrin
0,0,1,2,144,86,0,0,1
1,0,0,3,112,93,0,1,0
2,1,0,3,283,88,0,0,1
3,1,1,1,65,91,0,1,0
4,0,1,3,252,90,0,0,1
...,...,...,...,...,...,...,...,...
19995,0,0,2,202,97,0,0,1
19996,1,0,2,199,83,0,0,1
19997,0,0,1,142,97,0,1,0
19998,1,0,2,284,87,0,0,1
19999,1,0,2,187,92,0,1,0

In [77]:
import pickle
with open('crop_score.pickle','wb') as f:
    pickle.dump(LinReg,f)

In [78]:
import json
columns={
    'data_columns' : [col.lower() for col in x_in.columns]
}

with open('columns.json','w') as f:
    f.write(json.dumps(columns))

In [79]:
df.columns

Index(['crop', 'Soil_Type', 'Season', 'rainfall', 'Crop_Damage',
       'Amidosulfuron', 'Chlormequat', 'Lamba-Cyhalothrin'],
      dtype='object')